body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
  color: white;

  padding: 1rem;
}

.useState h1 {
  color: rgb(255, 65, 65);
}

.useEffect h1 {
  color: greenyellow;
}

.useContext h1 {
  color: rgb(0, 174, 255);
}

.useContext span {
  color: rgb(0, 174, 255);
}

.useRef h1 {
  color: yellow;
}

.useReducer h1 {
  color: rgb(255, 30, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
